@import "./fonts";

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  .header-nav {
    display: flex;
    align-items: center;
    gap: 75px;
  }
  nav {
    display: flex;
    align-items: center;
    gap: 45px;
  }
}
